Title:          rsync.tcz
Description:    File transfer and syncronization program.
Version:        3.1.1
Author:         Andrew Tridgell + Various
Original-site:  http://rsync.samba.org
Copying-policy: GPLv3
Size:           %%SIZE%%
Extension_by:   <your-name>
Tags:       File transfer syncronization program.
Comments:       rsync is a replacement for scp/rcp that has many more features.
Change-log:     2009/11/09 Original - as formerly in Tiny Core.
Current:        2015/06/30 CurrentPort to 64 bit.
