Title:          rsync.tcz
Description:    File transfer and syncronization program.
Version:        3.1.2
Author:         Andrew Tridgell + Various
Original-site:  http://rsync.samba.org
Copying-policy: GPLv3
Size:           %%SIZE%%
Extension_by:   <your-name>
Tags:           File transfer syncronization program.
Comments:       rsync is a replacement for scp/rcp that has many more features.
Change-log:     2009/11/09 Original - as formerly in Tiny Core.
                2015/06/30 Current - Port to 64 bit.
                2016/07/26 Current - Update to 3.1.2
Current:        2016/07/26 Current - Update to 3.1.2
